* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	margin: 30px auto 0;
	max-width: 660px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	text-align: center;
}

.center {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.text,
.number,
.checkers,
.checkers__row {
	font-size: 0;
}

[class$="list"] {
	list-style: none;
	font-size: 24px;
}

[class$="list"]:not(.checkers__list) {
	border: 1px solid #000;
}

.text__list {
	float: left;
	min-width: calc(600px / 8);
	min-height: 30px;
	background-color: #777;
}
.text__list:first-child,
.text__list:last-child {
	min-width: 30px;
}

.number__list {
	min-height: calc(600px / 8);
	min-width: 30px;
	background-color: #777;
	padding-top: 25px;
}

.checkers__list:nth-child(even) .checkers__row__list:nth-child(odd) {
	background-color: #000;
}

.checkers__list:nth-child(odd) .checkers__row__list:nth-child(even) {
	background-color: #000;
}

.checkers__row__list {
	min-width: calc(600px / 8);
	min-height: calc(600px / 8);
	float: left;
}
