.about{
	background-color: $lite-grey;
	padding: px_to_rem(120px) 0;

	@media all and (max-width: 992px){
		padding: px_to_rem(60px) 0;
	}

	@media all and (max-width: 768px){
		padding: px_to_rem(30px) 0;
	}

	&__for-image{
		background: $violet url("../img/about-image.png") no-repeat center/cover;
		position: relative;
		width: 100%;
		height: 100%;

		@media all and (max-width: 768px){
			min-height: 400px;
		}
	}

	&__wrapper-title{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		@include wrapper-title;
	}

	&__svg{
		margin-bottom: px_to_rem(30px)
	}

	&__title{
		@include title;
		margin-bottom: 0;
	}

	&__for-content{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-family: $secondary-font;
		font-size: $menu-size;
		padding: px_to_rem(70px) 0 px_to_rem(150px);

		@media all and (max-width: 1200px){
			padding: px_to_rem(50px) 0 px_to_rem(100px);
			font-size: $middle-size;
		}

		@media all and (max-width: 992px){
			padding: 0 0 px_to_rem(50px);
			font-size: $small-size;
		}

		@media all and (max-width: 768px){
			padding: 0;
		}

	}

	&__for-text{
		margin-bottom: px_to_rem(90px);

		@media all and (max-width: 1200px){
			margin-bottom: px_to_rem(50px);
		}

		@media all and (max-width: 992px){
			margin-bottom: px_to_rem(20px);
		}

		@media all and (max-width: 768px){
			text-align: justify;
		}
	}

	&__text{
		color: $dark-text-color;

		&:last-child{
			margin-bottom: 0;
		}
	}

	&__btn{
		@include btn($btn-color, $white, $lite-violet);
	}
}