.our-team{
	background-color: $lite-grey;
	padding-bottom: px_to_rem(90px);

	@media all and (max-width: 768px){
		padding-bottom: px_to_rem(30px);
	}

	&__wrapper-title{
		@include wrapper-title($dark-text-color);

		@media all and (max-width: 768px){
			padding: px_to_rem(30px) 0 0;
		}
	}

	&__title{
		@include title;
	}

	&__svg{
		margin-bottom: px_to_rem(30px);
	}

	&__slider{
		display: flex;
		flex-direction: row;
	}

	&__card{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		margin-right: px_to_rem(30px);
		padding-top: px_to_rem(150px);

		@media all and (max-width: 768px){
			padding-top: px_to_rem(0);
			margin-right: px_to_rem(0);
		}
	}

	&__wrapper-image{
		@include padding-hack(62%);
		position: absolute;
		width: 250px;
		height: 250px;
		top: 50%;
		transform: translateY(-100%);

		@media all and (max-width: 768px){
			@include padding-hack(43%);
			transform: translateY(50%);
		}
	}

	&__image{
		border-radius: 50%;
		border: 10px solid $lite-grey;
	}

	&__information{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-item: center;
		background-color: $white;
		text-align: center;
		width: 100%;
		padding: px_to_rem(160px) 0 px_to_rem(50px);
	}

	&__name{
		@include title($main-subtitle);
		color: $violet;
		margin-bottom: px_to_rem(30px);
	}

	&__profession{
		font-family: $secondary-font;
		font-style: italic;
		font-size: $menu-size;
	}

	&__social-menu{
		background-color: $violet;
		padding: px_to_rem(20px) 0;
	}

	&__social-item{
		margin-right: px_to_rem(10px);
	}

	&__slider .arrow-owl{
		border-color: $dark-text-color;

		&.arrow-left{
			left: -10%;
		}

		&.arrow-right{
			right: -10%;
		}

	}
}