.first-screen{
	font-family: $secondary-font;
	
	&::before{
		@include layaot;
		background: $middle-grey url("#{$img-path}/header_bg.jpg") no-repeat;
		background-size: cover;
		filter: grayscale(100%);
		z-index: -1;
	}

	&__content{
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__title{
		margin-bottom: px_to_rem(20px);
		@include title($main-title);

		@media all and (max-width: 576px){
			font-size: 2.3rem;
		}
	}



}