.footer{
	padding: px_to_rem(50px) 0;
	color: $footer-text;
	position: relative;

	@media all and (max-width: 1199px){
		padding: px_to_rem(25px) 0;
	}

	&-nav__list{
		padding: 0;
		margin: 0;
		display: flex;
		width: 100%;
		justify-content: space-between;

		@media all and (max-width: 767px){
		flex-wrap: wrap;
	}
	}

	&-nav__item{
		list-style: none;

		&::after{
			content: "-";
			
		}

		@media all and (max-width: 1199px){
			&::after{
			display: none;
			}
		}

		@media all and (max-width: 767px){
			flex-basis: 33%;
			&:nth-child(-n+3){
				margin-bottom: 1rem;
			}
		}

		&:last-child{

			[class*="_link"]{
				margin-right: 0;
			}
			
			&::after{
				display: none;

			}
		}
	}

	&-nav__link{
		text-transform: uppercase;
		font-size: $middle-size;
		color: $footer-text;
		display: inline-block;
		margin-right: px_to_rem(20px);

		@media all and (max-width: 1199px){
			margin-right: 0;
			display: block;
			text-align: center;
		}
	}

	&-copyrights{
		text-transform: uppercase;
		margin: 0;

		@media all and (max-width: 1199px){
			margin-bottom: 1rem;
			text-align: center;
		}
	}

	.social-menu{
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 40%;

		&__item{
			list-style: none;
		}

		&__link{
			display: flex;
			justify-content: center;
			align-items: center;
			$size: 20px;
			width: $size;
			height: $size;
		}

		@media all and (max-width: 1199px){
			max-width: initial;
			margin-bottom: 1rem;
			justify-content: space-around;
		}
	}
}