@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700");
@font-face {
	font-family: "Aleo";
	src: url("../fonts/aleo/aleo-regular-webfont.eot"), url("../fonts/aleo/aleo-regular-webfont.woff"), url("../fonts/aleo/aleo-regular-webfont.woff2"), url("../fonts/aleo/aleo-regular-webfont.ttf"), url("../fonts/aleo/aleo-regular-webfont.svg");
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100vh;
}

.container {
	width: 100%;
	max-width: 1110px;
	margin: auto;
	font-size: 16px;
}

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	font-family: "Josefin Sans", sans-serif;
	color: #fff;
	background: url("../img/header-bg.png") no-repeat;
	background-size: cover;
}
.header .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
}
.header__title {
	width: 100%;
	max-width: 315px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 50px;
}
.header__tit {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 3rem;
	margin: 0;
}
.header__caption {
	font-weight: 300;
	font-size: 1.7rem;
}
.header__form {
	font-size: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 50%;
	border: 2px solid #fff;
	margin-bottom: 120px;
}
.header__search {
	width: calc(100% - 150px);
	min-height: 60px;
	font-size: 1rem;
	text-align: center;
	color: #333;
	border: none;
}
.header__search::-webkit-input-placeholder {
	color: rgba(160, 160, 160, .5);
}
.header__search:-ms-input-placeholder {
	color: rgba(160, 160, 160, .5);
}
.header__search::-ms-input-placeholder {
	color: rgba(160, 160, 160, .5);
}
.header__search::placeholder {
	color: rgba(160, 160, 160, .5);
}
.header__btn {
	min-width: 150px;
	min-height: 60px;
	border: none;
	background-color: #5474fd;
	color: #fff;
	font-size: 1rem;
	text-transform: uppercase;
	background-image: url("../img/search-icon.svg");
	background-repeat: no-repeat;
	background-position: 115px 17px;
	background-size: 15%;
}
.header__btn:hover {
	background-color: #496bfe;
	-webkit-transition: background-color .2s ease;
	        transition: background-color .2s ease;
	cursor: pointer;
}
.header__scroll {
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 2px;
	position: relative;
}
.header__scroll::before {
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 1.5px solid #fff;
	border-right: 10px solid transparent;
	border-bottom: 1.5px solid #fff;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	top: 20px;
	right: 50%;
}

.main {
	background-color: #5474fd;
	min-height: 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.main .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.main__logo {
	font-size: 1.5rem;
	font-family: "Josefin Sans", sans-serif;
}
.main [class$="link"] {
	display: block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.main [class$="link"]:hover {
	color: #333;
	-webkit-transition: color .2s ease;
	        transition: color .2s ease;
}
.main__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 50%;
	font-family: "Aleo", sans-serif;
	font-size: .9rem;
}
.main__item {
	list-style: none;
}

.choose-us {
	background: url("../img/choose-bg.png") no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.choose-us .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.choose-us__left {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	color: #fff;
	margin-right: 20px;
	padding-top: 100px;
}
.choose-us__tit {
	font-family: "Aleo", sans-serif;
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 65px;
}
.choose-us__text {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 40px;
}
.choose-us__btn {
	width: 40%;
	padding: 15px;
	text-transform: uppercase;
	color: #fff;
	background-color: #5474fd;
	border: none;
}
.choose-us__btn:hover {
	background-color: #496bfe;
	cursor: pointer;
}
.choose-us__right {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
}
.choose-us__image {
	position: relative;
	width: 100%;
	left: 190px;
	max-width: 350px;
	padding-top: 41%;
	margin-bottom: 10px;
}
.choose-us__image:first-child {
	left: 80px;
}
.choose-us__img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-o-object-fit: contain;
	   object-fit: contain;
	width: 100%;
	height: 100%;
}

.menu {
	background-color: #232323;
}
.menu .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 50px 0;
}
.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 100%;
}
.menu__item {
	list-style: none;
}
.menu__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	text-decoration: none;
	color: #fff;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.menu__link:hover {
	color: #5474fd;
	-webkit-transition: color .2s ease;
	        transition: color .2s ease;
}
.menu__img {
	margin-bottom: 20px;
}
.menu__text {
	font-weight: 500;
	font-size: 2rem;
	font-family: "Aleo", sans-serif;
}

.content.first {
	background: url("../img/house.png") no-repeat;
	background-size: cover;
}
.content.first .row {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.content.second {
	background: url("../img/rocks.png") no-repeat;
	background-size: cover;
}
.content.second .row {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.content {
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.content .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.content__block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	background-color: rgba(44, 39, 37, .8);
	width: 40%;
	color: #fff;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
	padding: 30px 20px;
}
.content__caption {
	font-weight: 300;
	font-size: 1.3rem;
	margin-bottom: 20px;
}
.content__tit {
	font-weight: 300;
	font-size: 1.5rem;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.content__text {
	margin-bottom: 30px;
}
.content__btn {
	width: 40%;
	padding: 15px;
	text-transform: uppercase;
	color: #fff;
	background-color: #5474fd;
	border: none;
}
.content__btn:hover {
	background-color: #496bfe;
	-webkit-transition: background-color .2s ease;
	        transition: background-color .2s ease;
	cursor: pointer;
}

.turist {
	background: url("../img/testimonials-bg.png") no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
}
.turist .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	font-family: "Josefin Sans", sans-serif;
	color: #fff;
}
.turist__tit {
	font-weight: 400;
	font-size: 2rem;
	margin-bottom: 100px;
}
.turist__card {
	background-color: #232323;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.turist__left {
	width: 100%;
	min-width: 445px;
	position: relative;
	padding-top: 26%;
}
.turist__img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
	width: 100%;
	height: 100%;
}
.turist__right {
	padding: 40px;
}
.turist__caption {
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 20px;
}
.turist__blockquote {
	font-weight: 300;
}

.footer {
	background-color: #232323;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
}
.footer .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.footer__center {
	width: 100%;
	max-width: 165px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	letter-spacing: 3px;
	text-align: center;
	padding: 30px 0;
}
.footer__tit {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.5rem;
	margin-bottom: 10px;
}
.footer__caption {
	font-weight: 300;
	font-size: .7rem;
	margin-bottom: 20px;
}
.footer__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 0;
}
.footer__item {
	list-style: none;
}
.footer__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
}
.footer__link:hover {
	color: #5474fd;
	-webkit-transition: color .2s ease;
	        transition: color .2s ease;
	cursor: pointer;
}
.footer .active {
	color: #5474fd;
}
