////////////////////
///////ЦВЕТА///////

$yellow: #ffcc00;
$grey: #666666;
$lite-grey: #cccccc;
$dark-grey: #333333;
$caption-grey: #898f8f;

////////////////////
///////ШРИФТЫ///////

$tit-font: 'Raleway', sans-serif;
$text-font: 'Roboto', sans-serif;
$buttom-font: 'OpenSans', sans-serif;