<%- include('partials/page-header'); -%>

	<div class="wrapper">

		<%- include('partials/homepage-body'); -%>

		<%- include('partials/page-footer'); -%>

	</div>

	<script src="js/common.js"></script>
	<script src="js/homepage.js"></script>
</body>
</html>