<%- include('partials/card-header'); -%>

	<div class="wrapper">

		<%- include('partials/card-content'); -%>

		<%- include('partials/page-footer'); -%>

	</div>

	<script src="js/common.js"></script>
	<script src="js/card.js"></script>
</body>
</html>