<footer class="aditii-footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p class="aditii-footer__copyrights">Copyright © 2013 Css Author</p>
			</div>
		</div>
	</div>
</footer>