* {
	padding: 0;
	margin: 0;
	transition: all .2s ease;
}

html, body {
	height: 100%;
	min-height: 100vh;
}

body {
	font-family: $font-main;
	background: $corp-aqua url('#{$img-path}/pattern.png') repeat;
	position: relative;

	&.fixed {
		overflow: hidden;
	}
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

a {

	&:hover {
		text-decoration: none;
	}
}

.section-header {
	padding: 20px 0;

	&__title {
		margin: 0;
		@include corp-styling-text(31px);
	}
}

.product-card-title {
	line-height: 1;
	@include corp-styling-text(27px, $text-grey);
}

.product-card-btn {
	padding: 5px 15px;
	border: none;
	border-radius: 5px;
	background-color: $active-green;
	@include corp-styling-text(19px);
	font-weight: 400;

	&:hover {
		color: $white;
		background-color: darken($active-green, 10%);
	}
}

.layout {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;

	&.hidden {
		display: none;
	}

	&::before {
		content: "";
		position: absolute;
		z-index: 11;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $active-green;
	}

	.spinner {
		@include square(60px);
		position: relative;
		z-index: 12;
		color: $white;

		&::after {
			content: "Loading...";
			font-weight: bold;
			position: absolute;
			bottom: -50%;
		}

		span {
			border: 4px solid currentColor;
			border-radius: 50%;
			border-right-color: transparent;
			display: block;
			position: absolute;
			animation: 2s infinite linear spin;

			&:first-child {
				@include square(60px);
			}

			&:nth-child(2) {
				@include square(40px);
				top: 18%;
				left: 17%;
				animation-name: spin-reverse;
			}

			&:last-child {
				@include square(20px);
				top: 34%;
				left: 34%;
			}
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	};

	100% {
		transform: rotate(360deg);
	}
}


@keyframes spin-reverse {
	0% {
		transform: rotate(0deg);
	};

	100% {
		transform: rotate(-360deg);
	}
}

