*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container{
	margin: 30px auto 0;
	max-width: 660px;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.center{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.text,
.number,
.checkers,
.checkers__row{
	font-size: 0;
}

[class$="list"]{
	list-style: none;
	font-size:24px;
}

[class$="list"]:not(.checkers__list){
	border: 1px solid #000;
}

.text{

	&__list{
		float: left;
		min-width: calc(600px / 8);
		min-height: 30px;
		background-color: #777;

		&:first-child,
		&:last-child{
			min-width: 30px;
		}
	}
}

.number{

	&__list{
		min-height: calc(600px / 8);
		min-width: 30px;
		background-color: #777;
		padding-top: 25px;
	}
}

.checkers{

	&__list{

		&:nth-child(even) .checkers__row__list:nth-child(odd){
			background-color: #000;
		}

		&:nth-child(odd) .checkers__row__list:nth-child(even){
			background-color: #000;
		}
	}

	&__row{

		&__list{
			min-width: calc(600px / 8);
			min-height: calc(600px / 8);
			float: left;
		}
	}
}
