<footer class="footer">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5 col-md-6 col-sm-12">
				<p class="footer__copyright">©2014 <b>tulus</b>driyo. All Rights Reserved.</p>
			</div>
			<div class="col-lg-5 col-md-6 col-sm-12">
				<ul class="footer__social-menu">
					<li class="footer__social-item">
						<a href="#" class="footer__social-link">
							<i class="fab fa-behance"></i>
						</a>
					</li>
					<li class="footer__social-item">
						<a href="#" class="footer__social-link">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
					<li class="footer__social-item">
						<a href="#" class="footer__social-link">
							<i class="fab fa-google-plus-g"></i>
						</a>
					</li>
					<li class="footer__social-item">
						<a href="#" class="footer__social-link">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li class="footer__social-item">
						<a href="#" class="footer__social-link">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>