<section class="top-menu">
	<div class="container">
		<div class="row  justify-content-between align-items-center">
			<div class="col-lg-1 col-md-2">
				<a href="#" class="top-menu__logo-link">
					<img src="../img/Logo.png" alt="logo" class="top-menu__logo-img">
				</a>
			</div>
			<div class="col-lg-6 col-md-8">
				<ul class="top-menu__list">
					<li class="top-menu__item">
						<a href="#home" class="top-menu__link">home</a>
					</li>
					<li class="top-menu__item">
						<a href="#about" class="top-menu__link">about</a>
					</li>
					<li class="top-menu__item">
						<a href="#services" class="top-menu__link">services</a>
					</li>
					<li class="top-menu__item">
						<a href="#works" class="top-menu__link">works</a>
					</li>
					<li class="top-menu__item">
						<a href="#contact" class="top-menu__link">contact</a>
					</li>
				</ul>
			</div>
			<button class="btn-menu"></button>
			<div class="popUp js-hidden ">
				<ul class="popUp-menu__list">
					<li class="popUp-menu__item">
						<a href="#home" class="popUp-menu__link">home</a>
					</li>
					<li class="popUp-menu__item">
						<a href="#about" class="popUp-menu__link">about</a>
					</li>
					<li class="popUp-menu__item">
						<a href="#services" class="popUp-menu__link">services</a>
					</li>
					<li class="popUp-menu__item">
						<a href="#works" class="popUp-menu__link">works</a>
					</li>
					<li class="popUp-menu__item">
						<a href="#contact" class="popUp-menu__link">contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</section>