.aditii-slider {
	padding: 60px 0 30px;

	.carousel-item {

	}

	[class^="carousel-control"] {
		display: none;
	}

	.carousel-indicators {
		margin: 0;
		position: initial;
		justify-content: flex-start;
	}

	.carousel-bullet {
		display: inline-flex;
		border-radius: 50%;
		opacity: 1;
		margin: 0 6px;
		@include square(10px);

		&.active {
			opacity: .5;
		}
	}
}

.carousel-description {
	color: $white;
	padding-top: 15px;
	position: relative;

	&__title {
		margin: 0 0 20px;
		line-height: 1;
		@include corp-styling-text(61px)
	}

	&__text {
		font-size: 17px;
		line-height: 1.6;
		margin: 0 0 25px;
	}

	&__link {
		@include corp-styling-text(27px);
		font-weight: 400;
		border: 3px solid currentcolor;
		border-radius: 10px;
		padding: 5px 15px;

		&:hover {
			color: $active-green;
		}
	}
}

.bullets-wraper {
	position: relative;
	padding-left: 60px;
}

.img-wrapper {
	@include padding-hack(77%);
}