*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html,body{
	min-height: 100%;
}

body{
	font-size: 25px;
	font-family: Arial,sans-serif;
	background-color: rgb(59,63,69);
	line-height: 2.5em;
	
}

h1,p{
	color: rgb(235,126,127);
	text-align: center;
}

ul{
	margin: 40px 0;
}

li{
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}

li:nth-child(odd){
	background-color: rgb(136,131,161);
}

li:nth-child(even){
	background-color: rgb(122,117,147);
}

li:hover{
	background-color: rgb(98,94,119);
	border-top-color: #fff;
	border-bottom-color:  #fff;
	cursor: pointer;
}

label{
	flex-grow: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-decoration: none;
	color: rgb(255,255,255);
}

small{
	font-size: 15px;
	padding-left: 10px;
	color: rgb(196,195,200);
}

input{
	margin: 0 15px;
	width: 25px;
	height: 25px;
}

 label:hover{
 	cursor: pointer;
 }
.hidden-box:checked ~ *{
	  text-decoration: line-through;
	color: rgb(196,195,200);
	opacity: .6;

}
li:active{
	background-color: rgb(235,126,127);
}
.container{
	width: 1170px;
	margin: auto;
}

.header{
	background-color: rgb(74,79,86);
	padding: 15px;
	
}

.dinner_button{
	background-color: rgb(74,79,86);
	flex-grow: 1;
	width: 100%;
	min-height: 70px;
	font-size: 1.5rem;
	border: none;
    cursor: pointer;
    color: rgb(235,126,127);
}
