<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12 mb-2 mb-sm-2 mb-md-3 mb-lg-4 mb-xl-5">
				<h3 class="footer__tagline">Start eating healthy now. Give us a try.</h3>
				<p class="footer__contact">You can call us any time 24/7 at 1-888-888-8888</p>
			</div>
			<div class="col-12">
				<div class="footer__for-btn">
					<button class="footer__btn">Eat Healthy</button>
				</div>
			</div>
		</div>
	</div>
</footer>