<section class="ftp">
	<div class="container">
		<div class="row">
			<div class="col-12 mb-3 mb-md-4 mb-lg-5 mb-xl-5">
				<h2 class="ftp__title">Choose your Free Trial Package</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 mb-3 col-sm-6 mb-sm-0 col-md-6 mb-md-0  col-lg-6 mb-lg-0  col-xl-6 mb-xl-0  ftp__padding">
				<div class="row">
					<div class="col-12 mb-2 mb-md-3 mb-lg-4 mb-xl-5">
						<h4 class="ftp__caption">free trial</h4>
						<h3 class="ftp__subtitle">Natural Fruits and Vegetables</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-12 mb-3 mb-md-4 mb-lg-5 mb-xl-5">
						<p class="ftp__text">Ensure your body is stocked with nutritious fruits and vegetables. We take care of your food, while you live your life the to the fulest.</p>
						<a href="#" class="ftp__link">Learn More</a>
					</div>
				</div>
				<div class="row  align-items-center">
					<div class="col-6">
						<div class="ftp__first-image-wrapper">
							<img src="img/vegetables.jpg" alt="vegetables" class="vegetables">
						</div>
					</div>
					<div class="col-6">
						<div class="ftp__for-btn">
							<button class="ftp__btn">Get Started Now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 ftp__padding">
				<div class="row">
					<div class="col-12 mb-2 mb-md-3 mb-lg-4 mb-xl-5">
						<h4 class="ftp__caption">free trial</h4>
						<h3 class="ftp__subtitle">Organicly fed protein products</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-12 mb-3 mb-md-4 mb-lg-5 mb-xl-5">
						<p class="ftp__text">Ensure your body is stocked with protein-high and savory products, such as cheeses and raw meat. We take care of your food, while you live your life the to the fulest.</p>
						<a href="#" class="ftp__link">Learn More</a>
					</div>
				</div>
				<div class="row  align-items-center">
					<div class="col-6">
						<div class="ftp__second-image-wrapper">
							<img src="img/protein_product.jpg" alt="protein-product" class="protein-product">
						</div>
					</div>
					<div class="col-6">
						<div class="ftp__for-btn">
							<button class="ftp__btn">Get Started Now</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>